{% include 'header.html' %}
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert"">
            {% for message in messages %}
                {{ message }}
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            {% endfor %}
        </div>
    {% endif %}
{% endwith %}
{% for employee in employees %}
            <form method="post" action="/update" enctype="multipart/form-data">
                
                <div class="card">
                    <div class="card-header">
                        Edit employee
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">New employee Data</h5>
                        <p class="card-text">

                            <input type="hidden" value="{{ employee[0] }}" name="inputID" id="inputID">
                            
                            <div class="form-group">
                                <label for="name">Name:</label>
                                <input id="name" class="form-control" value="{{ employee[1] }}" type="txt" name="name" placeholder="New Name">
                            </div>

                            <div class="form-group">
                                <label for="email">Email:</label>
                                <input id="email" class="form-control" value="{{ employee[2] }}"type="email" name="email" placeholder="New Email Address">
                            </div>

                            <div class="form-group">
                                <label for="photo">Photo:</label>
                                    <img class="img-thumbnail" width="100" src="{{ url_for('uploads', namePhoto= employee[3]) }}" alt="">
                                <input id="photo" class="form-control" type="file" name="photo">
                            </div>

                            <div class="form-group">
                                <input type="submit" class="btn btn-warning" value="Update">
                            </div>

                        </p>
                    </div>
                </div>
            </form>
{% endfor %}
{% include 'footer.html' %} 
